* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  overflow: hidden;
  background: black;
}
.center {
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  margin: auto;
  align-items: center;
  border: 2px solid white;
}
p {
  font-size: 10px;
  line-height: 10px;
  background: url("bh3.jpeg") no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.1);
}
